h1 {
  background-color: blue;
  color: red;
}
/*
  esto es un comentario
  muy largo
*/
.titulo {
  padding: 10px;
  background-color: yellow;
  color: blue;
  font-size: 24px;
}

#titulo2 {
  padding: 30px;
  background-color: gray;
  color: white;
}
